main{
    width: 100%;
}

.content{
    min-height: 80vh;
}

.content-logo-container{ 
    padding: 30px;
    background-color: #006646; 
}

.logo-img{
    height: 50px;
}

.menu-container{
    display: flex;
    background-color: #edecd4;
    padding: 5px 30px 10px;
    height: 100%;
    align-items: center;
}

.menu-item{
    background-color: #edecd4;
    color: #006646;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    height: 100%;

}

.active {
    background-color: #006646;
    color: #FFFFFF;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-inner {
    width: 88%;
}

.header-text-container{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.header-text-container span{
    font-size: 20px;
    color:#006646;
}

.searchBar-container{
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}

.searchBar{
    border: 1px solid rgb(205, 205, 205); 
    border-radius: 5px; 
    padding: 8px;
    width: 100%;
}

.searchBtn{
    background-color: #33856b;
    height: 100%;
    padding: 8px 10px;
    color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.searchBtn:hover{
    background-color: #006646;
}

.table {
    width: 100%;
    margin-bottom: 10px;
}

.table_inner{
    border-radius: 5px; 
    border: 1px solid rgb(205, 205, 205);
}

.menu {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nextprevBtn{
    background-color: #33856b;
    color: #FFFFFF;
    border-radius: 100%;
    height: 35px;
    width: 35px;
}

.nextprevBtn:hover {
    background-color: #006646;
}

form{
    display: flex;
    align-items: center;
    gap: 5px;
}

table {
    width: 100%;
}

thead{
    background-color: #33856b;
    color: #FFFFFF;
}

th, td{
    padding: 10px;
}

.alternating-table tbody tr:nth-child(odd) {
        background-color: #f2f2f2; /* Light gray color for odd rows */
}

.alternating-table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White color for even rows */
}

.createEstab-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}