<footer>
    <div class="footer-inner">
        <div>
            <a href="">Home</a>
            <span>|</span>
            <a href="">Agreements</a>
            <span>|</span>
            <a href="">Faculty</a>
            <span>|</span>
            <a href="">Students</a>
            <span>|</span>
            <a href="">Alumni</a>
            <span>|</span>
            <a href="">Summary</a>
        </div>

        <div>
            <span>Powered by GDH | Copyright © 2011-2024 | Clear Tenant</span>
        </div>
    </div>
</footer>

<style>
    footer{
        background-color: #006646;
        padding-inline: 30px ;
        color: #FFFFFF;
    }

    .footer-inner{
        display: flex;
        justify-content: space-between;
    }
</style>