<header>
    <nav>
        
        <!-- Account -->
        <div class="flex justify-end mb-5">
            <div>
                <a href="" class="underline" style="color: #006646">willist My Profile</a>
                <span style="color: #006646">|</span>
                <a href="" class="underline" style="color: #006646">Sign Out</a>
            </div>
        </div>


        <!-- Menu -->
        <div class="menu-container">
            <div>
                <a class="menu-item" href="">Home</a>
                <a class="menu-item" href="">Parnerships</a>
                <a class="menu-item" href="">Faculty</a>
                <a class="menu-item" href="">Students</a>
                <a class="menu-item" href="">Alumni</a>
                <a class="menu-item" href="">Summary</a>
                <a class="menu-item" href="">Profile</a>
                <a class="menu-item active" href="">Admin</a>
            </div>
        </div>
    </nav>
</header>

<style>
    nav{
        padding: 2.5px 30px 3px 30px;
        background-color: #edecd4;
    }

    .menu-container{
        display: flex;
        padding: initial;
    }

    .menu-item{
        background-color: #008158;
        color: #FFFFFF;
        padding: 5px;
        border-radius: 5px 5px 0 0 ;
    }

    .active {
        background-color: #006646;
    }
</style>