<div class="main">
    <!-- logo -->
    <div class="content-logo-container" >
        <img class="logo-img" src="../../public/logo.png" alt="" srcset="">
    </div>

    <!-- options -->
     <div class="menu-container">
        <div>
            <a class="menu-item" href="">Admin</a>
            <a class="menu-item active" href="">Establishment</a>
            <a class="menu-item" href="">Users</a>
            <a class="menu-item" href="">Faculty</a>
        </div>
     </div>

    <!-- content -->
     <div class="content">
        <div class="content-inner">
            <h1>Sample</h1>
        </div>
        
     </div>
</div>

<style>
    .main{
        width: 100%;
    }
    .content-logo-container{ 
        padding: 30px;
        background-color: #006646; 
    }

    .logo-img{
        height: 50px;
    }

    .menu-container{
        display: flex;
        background-color: #edecd4;
        padding: 5px 30px 10px;
        height: 100%;
        align-items: center;
    }

    .menu-item{
        background-color: #edecd4;
        color: #006646;
        padding: 5px;
        border-radius: 0 0 5px 5px;
        height: 100%;

    }

    .active {
        background-color: #006646;
        color: #FFFFFF;
    }

    .content{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .content-inner {
        width: 80%;
    }
</style>